<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
    <% include navbar %>

    <div class="container">
    
    <br/>
    
    <div class="row">
      <div class="col-md-6 col-sm-7 col-xs-8">
        <div class="well bs-component">
          <form class="form-horizontal" action="/edit_question" method="POST">
          <fieldset>
          
            <!-- Form Name -->
            <legend><%= form_name %></legend>
            
            <!-- Include the question id -->
            <input id="question_id" name="question_id" type="hidden" value="<%= question.question_id %>">
            
            <!-- Question Form Innards -->
            <% include questionFormTemplate %>
            
            <div class="row center-block">
            
              <!-- Submit Button -->
              <div class="control-group col-md-6">
                <label class="control-label" for="submit_question"></label>
                <div class="controls">
                  <button id="submit_question" name="submit_question" class="btn btn-success center-block">Submit Question</button>
                </div>
              </div>
              
              <!-- Delete Button -->
              <div class="control-group col-md-6">
                <label class="control-label" for="delete_question"></label>
                <div class="controls">
                  <button id="delete_question" name="delete_question" class="btn btn-danger center-block">Delete Question</button>
                </div>
              </div>
            </div><!-- end the row of buttons -->
            
          </fieldset>
          </form>
        </div>
      </div>

      <!-- Question Analytics -->
      <div class="col-md-6 col-sm-5 col-xs-4">
        <div class="well bs-component">
          <legend>Question Analytics</legend>
          
          <div class="row">
            <p class="col-xs-12">
              These analytics can help indicate how simple/difficult your question is. The counts are reset when the question is edited.
            </p>
          </div>
          
          <!-- Correct attempts -->
          <div class="row">
            <div class="col-xs-8 col-sm-6 col-md-4">Correct Attempts</div>
            <div class="col-xs-1"><span class="badge"><%= question.correct_attempts %></div>
          </div>
          <br/>
          
          <!-- Total attempts -->
          <div class="row">
            <div class="col-xs-8 col-sm-6 col-md-4">Total Attempts</div>
            <div class="col-xs-1"><span class="badge"><%= question.total_attempts %></div>
          </div>
          <br/>
          
          <!-- Difficulty Bar -->
          <div class="row progress">
            <% var percent_correct = (Number(question.correct_attempts)/Number(question.total_attempts)) * 100; %>
            <div class="progress-bar <% if(percent_correct > 75 || percent_correct < 25) { %> progress-bar-danger <% } %>" style="width: <%= percent_correct %>%"></div>
          </div>
        </div>
      </div><!-- End question analytics column -->
    

    </div> <!-- End row div -->
    <hr>
      <div class="row"
        <% include footer %>
      </div>
      
    </div> <!-- End container div -->
    
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="js/bootstrap.min.js">
    </script>
</body>
</html>