<script type="text/javascript" src="js/game.js"></script>
<div class="content center-block" style="width:70%">

<div class="row">
  <% if (message.length > 0) {
      if (message == "correct") { %>

        <div class="alert alert-success">
          <strong>Correct!</strong>
      <% } else { %>
        <div class="alert alert-danger">
          <strong>Incorrect!</strong>
      <% } %>

      <% if (answer_text != null && answer_text != "") { %>
        <%= answer_text %>
      <% } if (link != null && link != "") { %>
        <a href="<%= link %>" target="_blank">Learn More!</a>
      <% } %>

        </div>
  <% } %>
</div>

<%
function hashStr(str){
    var hash = 0;
    if (str.length == 0) return hash;
    for (i = 0; i < str.length; i++) {
        char = str.charCodeAt(i);
        hash = ((hash<<5)-hash)+char;
        hash = hash & hash; // Convert to 32bit integer
    }
    return hash;
}
%>

<div class="row">
  <h2 class="text-center" style="color:#555555"><%= question.question %></h2>
  <br/>
</div>

<div class="row center-block">

  <div class="col-xs-3">
    <a href="/<%= question.question_id %>/<%= hashStr(question.answer_1) %>">
      <button type="button" class="btn btn-primary center-block">
        <%= question.answer_1 %>
      </button>
    </a>
  </div>

  <div class="col-xs-3">
        <a href="/<%= question.question_id %>/<%= hashStr(question.answer_2) %>">
      <button type="button" class="btn btn-primary center-block">
        <%= question.answer_2 %>
      </button>
    </a>
  </div>

  <div class="col-xs-3">
    <a href="/<%= question.question_id %>/<%= hashStr(question.answer_3) %>">
      <button type="button" class="btn btn-primary center-block">
        <%= question.answer_3 %>
      </button>
    </a>
  </div>
  <div class="col-xs-3">
    <a href="/<%= question.question_id %>/<%= hashStr(question.answer_4) %>">
      <button type="button" class="btn btn-primary center-block">
        <%= question.answer_4 %>
      </button>
    </a>
  </div>
</div>
<br/><br/>

<!-- Progress Bar -->
<div class="row">
  <div class="col-xs-11">
    <div class="row progress">
      <% var percent_correct = (Number(session.user_progress.correct_attempts)/Number(session.user_progress.total_attempts)) * 100;
        var percent_incorrect = 100 - percent_correct;
        if (Number(session.user_progress.total_attempts) === 0) { percent_correct = 0; percent_incorrect = 0; }%>
      <div class="progress-bar progress-bar-success" style="width: <%= percent_correct %>%"></div>
      <div class="progress-bar progress-bar-danger" style="width: <%= percent_incorrect %>%"></div>
    </div>
  </div>

  <!-- Accuracy Counter -->
  <div class="col-xs-1 center-block">
    <p><%= Number(session.user_progress.correct_attempts) %>/<%= Number(session.user_progress.total_attempts) %></p>
  </div>
</div>

<div class="row charity-info">
    <p class="center-block lead" style="text-align:center;">Sponsored by <a href="<%= charity.link %>" target="_blank">
        <% if (charity.logo != null) { %>
          <img min-height="50px" min-width="100px" class="center-block" src="<%= charity.logo %>" />
        <% } else { %>
          <%= charity.name %>
        <% }%>
      </a></p>

  <div class="col-md-6 col-xs-2">
    <div class="center-block">
    </div>
  </div>

</div>

<br/>
<div class="row center-block">
  <img class="center-block" src="img/fake_ad.png" width="90%"/>
</div>
</div>
