<script type="text/javascript" src="js/game.js"></script>
<div class="content center-block" style="width:70%">

<h2 class="text-center" style="color:#555555"><%= question.question %></h2>
<br/>

<div class="row center-block">
  <div class="col-xs-3">
    <button type="button" class="btn btn-primary center-block" onclick="answered(true, <%= question.question_id %>); return false;">
      <%= question.answer %>
    </button>
  </div>
  <div class="col-xs-3">
    <button type="button" class="btn btn-primary center-block" onclick="answered(false, <%= question.question_id %>); return false;">
      <%= question.fake_answer_1 %>
    </button>
  </div>
  <div class="col-xs-3">
    <button type="button" class="btn btn-primary center-block" onclick="answered(false, <%= question.question_id %>); return false;">
      <%= question.fake_answer_2 %>
    </button>
  </div>
  <div class="col-xs-3">
    <button type="button" class="btn btn-primary center-block" onclick="answered(false, <%= question.question_id %>); return false;">
      <%= question.fake_answer_3 %>
    </button>
  </div>
</div>

<br/><br/>
<div id="feedback"></div>
</div>
