<script type="text/javascript" src="js/game.js"></script>
<div class="content center-block" style="width:70%">

<h2 class="text-center" style="color:#555555"><%= question.question %></h2>
<br/>

<div class="row center-block">
  <div class="col-xs-3">
    <button type="button" class="btn btn-primary center-block" onclick="answered(true, <%= question.question_id %>); return false;">
      <%= question.answer %>
    </button>
  </div>
  <div class="col-xs-3">
    <button type="button" class="btn btn-primary center-block" onclick="answered(false, <%= question.question_id %>); return false;">
      <%= question.fake_answer_1 %>
    </button>
  </div>
  <div class="col-xs-3">
    <button type="button" class="btn btn-primary center-block" onclick="answered(false, <%= question.question_id %>); return false;">
      <%= question.fake_answer_2 %>
    </button>
  </div>
  <div class="col-xs-3">
    <button type="button" class="btn btn-primary center-block" onclick="answered(false, <%= question.question_id %>); return false;">
      <%= question.fake_answer_3 %>
    </button>
  </div>
</div>
<br/><br/>

<!-- Progress Bar -->
<div class="row">
  <div class="col-xs-11">
    <div class="row progress">
      <% var percent_correct = (Number(session.user_progress.correct_attempts)/Number(session.user_progress.total_attempts)) * 100; 
        if (Number(session.user_progress.total_attempts) === 0) { percent_correct = 0; }%>
      <div class="progress-bar" style="width: <%= percent_correct %>%"></div>
    </div>
  </div>
  
  <!-- Accuracy Counter -->
  <div class="col-xs-1 center-block">
    <p><%= percent_correct %>%</p>
  </div>
</div>

<div class="row charity-info">

  <p>Sponsored by <%= charity.name %></p>
  

</div>

<br/><br/>
<div id="feedback"></div>
</div>
