<script type="text/javascript" src="js/game.js"></script>
<div class="content">

<p><%= question.question %></p>

<a href="" onclick="answered(true); return false;"><%= question.answer %></a><br/>
<a href="" onclick="answered(false); return false;"><%= question.fake_answer_1 %></a><br/>
<a href="" onclick="answered(false); return false;"><%= question.fake_answer_2 %></a><br/>
<a href="" onclick="answered(false); return false;"><%= question.fake_answer_3 %></a>

<br/><br/>
<div id="feedback"></div>
</div>
