<!-- Charity ID hidden input -->
<input id="charity_id" name="charity_id" value="<% if (req.user) { %> <%= req.user.charity_id %> <% } else { %> <%= 1 %> <% } %>">


<!-- Question input -->
<div class="control-group">
  <label class="control-label" for="question">Question</label>
  <div class="controls">                     
    <textarea id="question" name="question" required="" class="form-control "><%if (locals.question) { %><%= question.question %><% } %></textarea>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="answer">Answer</label>
  <div class="controls">
    <input id="answer" name="answer" type="text" placeholder="" class="form-control " required="" <%if (locals.question) { %>value="<%= question.answer %>"<% } %>>
    <p class="help-block">Correct Answer</p>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="fake_answer_1">Distractor 1</label>
  <div class="controls">
    <input id="fake_answer_1" name="fake_answer_1" type="text" placeholder="" class="form-control " required="" <%if (locals.question) { %>value="<%= question.fake_answer_1 %>"<% } %>>
    <p class="help-block">Incorrect Answer</p>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="fake_answer_2">Distractor 2</label>
  <div class="controls">
    <input id="fake_answer_2" name="fake_answer_2" type="text" placeholder="" class="form-control " required="" <%if (locals.question) { %>value="<%= question.fake_answer_2 %>"<% } %>>
    <p class="help-block">Incorrect Answer</p>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="fake_answer_3">Distractor 3</label>
  <div class="controls">
    <input id="fake_answer_3" name="fake_answer_3" type="text" placeholder="" class="form-control " required="" <%if (locals.question) { %>value="<%= question.fake_answer_3 %>"<% } %>>
    <p class="help-block">Incorrect Answer</p>
  </div>
</div>
