<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
    <% include navbar %>

    <div class="container">
      <br/><br/>
      <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-5">
          <form class="form-horizontal" action="/questions" method="POST">
          <fieldset>
            <!-- Form Name -->
            <legend><%= form_name %></legend>
            
            <!-- The question form template -->
            <div style="">
              <% include questionFormTemplate %>
            </div>
            
          </fieldset>
          </form>
        </div> <!-- End for the Add Questions form -->
        
        <div class="col-sm-1"></div>

        <!-- Questions List -->
        <div class="list-group col-md-6 col-sm-6">
          <legend>Question List</legend>
          <div class="list-group-item row center-block">
            <div class="col-xs-5">Question</div>
            <div class="col-xs-3">Answer</div>
            <div class="col-xs-4">Fake Answers</div>
          </div><!-- end question list header -->
          <% for (var i = 0; i < questions.length; i++) { %>
            <a href="/edit_question?question_id=<%= questions[i].question_id %>" class="list-group-item row center-block">
              <div class="col-xs-5"><%= questions[i].question %></div>
              <div class="col-xs-3"><%= questions[i].answer %></div>
              <div class="col-xs-4"><%= questions[i].fake_answer_1 %>, <%= questions[i].fake_answer_2 %>, <%= questions[i].fake_answer_3 %></div> 
            </a><!-- end question item row -->
            <% } %>
        </div><!-- end question list col -->
      </div>
      <hr>
      <div class="row"
        <% include footer %>
      </div>
    </div>
    
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="js/bootstrap.min.js">
    </script>
</body>
</html>