<form class="form-horizontal" action="/questions" method="POST">
<fieldset>

<!-- Form Name -->
<legend><%= form_name %></legend>

<!-- Textarea -->
<div class="control-group">
  <label class="control-label" for="question">Question</label>
  <div class="controls">                     
    <textarea id="question" name="question" required=""><%if (locals.question) { %><%= question[0].question %><% } %></textarea>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="answer">Answer</label>
  <div class="controls">
    <input id="answer" name="answer" type="text" placeholder="" class="input-xlarge" required="" <%if (locals.question) { %>value="<%= question[0].answer %>"<% } %>>
    <p class="help-block">Correct Answer</p>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="fake_answer_1">Fake Answer 1</label>
  <div class="controls">
    <input id="fake_answer_1" name="fake_answer_1" type="text" placeholder="" class="input-xlarge" required="" <%if (locals.question) { %>value="<%= question[0].fake_answer_1 %>"<% } %>>
    <p class="help-block">Incorrect Answer</p>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="fake_answer_2">Fake Answer 2</label>
  <div class="controls">
    <input id="fake_answer_2" name="fake_answer_2" type="text" placeholder="" class="input-xlarge" required="" <%if (locals.question) { %>value="<%= question[0].fake_answer_2 %>"<% } %>>
    <p class="help-block">Incorrect Answer</p>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="fake_answer_3">Fake Answer 3</label>
  <div class="controls">
    <input id="fake_answer_3" name="fake_answer_3" type="text" placeholder="" class="input-xlarge" required="" <%if (locals.question) { %>value="<%= question[0].fake_answer_3 %>"<% } %>>
    <p class="help-block">Incorrect Answer</p>
  </div>
</div>

<!-- Button (Double) -->
<div class="control-group">
  <label class="control-label" for="submit_question"></label>
  <div class="controls">
    <button id="submit_question" name="submit_question" class="btn btn-success">Submit Question</button>
  </div>
</div>

</fieldset>
</form>